<div class="forgot-password-page">
  <div class="forgot-password-container">
    <button class="back-button" type="button" (click)="goBack()">←</button>

    <div class="forgot-password-content">
      <h1>Forgot password</h1>

      <p class="description">
        Please enter the email address you'd like your password reset information sent to
      </p>

      <form class="forgot-password-form" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-field">
          <label class="form-field">Email</label>
          <input id="email" type="email" placeholder="email" formControlName="email
">

          @if (
            forgotPasswordForm.controls.email.hasError('required') &&
              forgotPasswordForm.controls.email.touched
            ) {
            <span class="error-message">
              Email address is required
            </span>
          }

          @if (
            forgotPasswordForm.controls.email.hasError('email') &&
              forgotPasswordForm.controls.email.touched
            ) {
            <span class="error-message">
              Please enter valid email address
            </span>
          }
        </div>

        <button class="reset-button" type="submit">Send reset link</button>

      </form>
    </div>
  </div>
</div>
